@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

header .navbar {
  background-color: rgb(6, 6, 122);
  min-height: 170px;
}
header .navbar-brand {
  color: white !important;
  text-shadow: 0 0 5px;
  font-size: 30px;
}
header .navbar-brand :hover {
  color: black !important;
}
header .navbar-brand img {
  height: 80px;
  margin: 15px;
}
header .collapse navbar-collapse {
  display: flex;
  justify-content: center;
}
header .navbar-collapse {
  /* display: flex !important; */
  /* justify-content:flex-end !important; */
  padding: 30px;
}
header .nav-link {
  color: white !important;
  text-shadow: 0 0 5px;
  font-size: 20px;
}
header .nav-link :hover {
  color: black !important;
}
.nav-link{
  color: white !important;
  text-shadow: 0 0 5px;
  font-size: 20px;
}
.nav-link:hover{
  color: black !important;
}

.jumbotron {
  height: 450px;
  background-image: url(./multimedia/fondo1.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px !important;
}
.jumbotron h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: rgb(6, 6, 122) !;
  font-weight: bold;
  vertical-align: bottom !important;
}
.jumbotron p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgb(2, 2, 48);
  font-weight: bold;
  /* float: right !important; */
  margin-bottom: 0px !important;
}

h2 {
  text-align: center;
  background-color: rgb(6, 6, 122);
  padding: 20px;
  font-weight: bold;
  text-shadow: 0 0 5px;
  margin-bottom: 0;
  color: white;
  margin-top: 0px;
}

.nleft {
  background-image: url(./multimedia/noschipa.jpg);
  height: 350px;
  background-position: center;
  background-size: cover;
  /* overflow: scroll; */
}

.nright {
  padding: 20px;
  /* background-image: url(./multimedia/fondo2.jpg); */
  /* height: 350px; */
  /* background-position: center; */
  /* background-size: cover; */
  background-color: rgba(128, 128, 128, 0.342);
  text-shadow: 5px 5px 5px;
}

.articulo1 {
  border: solid black 5px;
  height: 300px;
  text-align: center;
  background-image: url(./multimedia/chipa3.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
  color: white;
}

.articulo2 {
  background-image: url(./multimedia/torta1.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 0px;
  border: solid 5px black;
  height: 300px;
  color: white;
}

.articulo3 {
  background-image: url(./multimedia/postre.jpg);
  background-position: right;
  background-size: cover;
  text-align: center;
  margin-bottom: 0px;
  border: solid 5px black;
  height: 300px;
  color: white;
}

.articulo i {
  font-size: 35px;
  color: blue;
}

h1 {
  /* text-shadow: 5px 5px 5px; */
  color: white !important;
  font-size: 20px !important;
}

h4 {
  margin-bottom: 20px;
}

footer {
  color: white;
  text-shadow: 0 0 5px;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  background-color: black;
  margin-top: 0px;
}
footer a {
  text-decoration: none;
  letter-spacing: 15px;
  color: blue;
  font-size: 50px;
}

/* nosotros */
.galeria {
  /* height: auto; */
  background-color: rgba(44, 42, 156, 0.432);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  padding: 20px;
  grid-gap: 20px;
}

.item {
  border: 5px solid #000;
  background-size: cover;
  background-position: center;
  margin: 0px;
}

.item1 {
  background-image: url(./multimedia/Nosotros.jpg);
  background-position: center;
  background-size: cover;
}

.item2 {
  background-image: url(./multimedia/noschipa.jpg);
  background-position: center;
  background-size: cover;
  overflow: auto;
}

.item2 p {
  text-align: center;
  color: rgba(0, 0, 128, 0.514);
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

.item3 {
  background-image: url(./multimedia/chipa7.jpg);
}

@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .item2 {
    grid-column: 3/6;
    grid-row: 1/3;
  }
  .item3 {
    grid-column: 6/8;
    grid-row: 1/3;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .item2 {
    grid-column: 3/6;
    grid-row: 1/3;
  }
  .item3 {
    grid-column: 6/8;
    grid-row: 1/3;
  }
}
@media only screen and (max-width: 480px) {
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.nprueba {
  background-image: url(./multimedia/Nosotros.jpg);
  background-position: center;
  background-size: cover;
}

.nfirst {
  background-image: url(./multimedia/noschipa.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
  overflow: auto;
}

.nfirst p {
  text-align: center;
  color: rgba(0, 0, 128, 0.514);
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

.nsecond {
  background-image: url(./multimedia/chipa\ 2.jpg);
  background-position: center;
  background-size: cover;
}

/*precio*/
.nprecio {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8823529412);
  /*background-color: rgba(44, 42, 156, 0.432);*/
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: 1, 500px;
}

.npr2 {
  border: 5px solid #000;
  background-size: cover;
  background-position: center;
  margin: 0px;
}

.npr1 {
  background-image: url(./multimedia/precios-2024-_1_.jpg);
  background-position: center;
  background-size: cover;
  width: 450PX;
  overflow: hidden;
  grid-column: 2/3;
  grid-row: 1/2;
}

.nprecio p {
  color: black;
  margin-top: 100%;
}

@media only screen and (max-width: 480px) {
  .nprecio {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1, 500px;
  }
  .npr1 {
    grid-column: 1/2;
    grid-column: 1, 2;
    width: auto;
  }
}
/* productos */
/* postres */
.ggaleria {
  /* height: auto; */
  background-color: rgba(44, 42, 156, 0.432);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  padding: 20px;
  grid-gap: 20px;
}

.item {
  border: 5px solid #000;
  background-size: cover;
  background-position: center;
  margin: 0px;
}
.gitem1{
  background-image: url(./multimedia/postre1.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/2;
}
.gitem2{
  background-image: url(./multimedia/postre11.jpg);
background-position:center;
background-size: cover;
grid-column: 2/3;
grid-row: 1/2;
}
.gitem3{
  background-image: url(./multimedia/postre3.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
}
.gitem4{
  background-image: url(./multimedia/postre4.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 2/3;
}
.gitem5{
  background-image: url(./multimedia/postre5.jpg);
  background-position: top;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/3;
}
.gitem6{
  background-image: url(./multimedia/postre6.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 2/3;
}
.gitem7{
  background-image: url(./multimedia/postre7.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/3;
  grid-row: 3/4;
}
.gitem8{
  background-image: url(./multimedia/postre8.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/3;
  grid-row: 3/4;
}
.gitem9{
  background-image: url(./multimedia/postre9.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 3/4;
}



@media only screen and (max-width: 480px) {
  .ggaleria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 200px);
  }
  .gitem1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .gitem2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .gitem3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .gitem4{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .gitem5{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .gitem6{
    grid-column: 1/2;
    grid-row: 6/7;
}
.gitem7{
  grid-column: 1/2;
  grid-row: 7/8;
}
.gitem8{
  grid-column: 1/2;
  grid-row: 8/9;
  }
  .gitem9{
    grid-column: 1/2;
    grid-row: 9/10;
  }
}
/* otros */

.ggoaleria {
  /* height: auto; */
  background-color: rgba(44, 42, 156, 0.432);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 300px);
  padding: 20px;
  grid-gap: 20px;
}

.goitem1{
  background-image: url(./multimedia/torta1.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/2;
}
.goitem2{
  background-image: url(./multimedia/torta1\ \(2\).jpg);
background-position:center;
background-size: cover;
grid-column: 2/3;
grid-row: 1/2;
}
.goitem3{
  background-image: url(./multimedia/torta3.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
}
.goitem4{
  background-image: url(./multimedia/torta4.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 2/4;
}
.goitem5{
  background-image: url(./multimedia/torta5.jpg);
  background-position: top;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/4;
}
.goitem6{
  background-image: url(./multimedia/torta7.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 2/4;
}
.goitem10{
  background-image: url(./multimedia/huevo1.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 4/5;
}
.goitem11{
  background-image: url(./multimedia/huevo2.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 4/5;
}
.goitem12{
  background-image: url(./multimedia/huevo3.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 4/5;
}
.goitem13{
  background-image: url(./multimedia/huevo5.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 5/6;
}
.goitem14{
  background-image: url(./multimedia/huevo4.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2/4;
  grid-row: 5/6;
}

@media only screen and (max-width: 480px) {
  .ggoaleria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, 200px);
  }
  .goitem1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .goitem2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .goitem3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .goitem4{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .goitem5{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .goitem6{
    grid-column: 1/2;
    grid-row: 6/7;
}
.goitem10{
  grid-column: 1/2;
  grid-row: 7/8;
}
.goitem11{
  grid-column: 1/2;
  grid-row: 8/9;
}
.goitem12{
  grid-column: 1/2;
  grid-row: 9/10;
}
.goitem13{
  grid-column: 1/2;
  grid-row: 10/11;
}
.goitem14{
  grid-column: 1/2;
  grid-row: 11/12;
}
}

/*chipa*/
.ggcaleria {
  /* height: auto; */
  background-color: rgba(44, 42, 156, 0.432);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 300px);
  padding: 20px;
  grid-gap: 20px;
}

.gcitem1{ 
  background-image: url(./multimedia/logo.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/2;
}
.gcitem2{
  background-image: url(./multimedia/chipa\ 2.jpg);
background-position:center;
background-size: cover;
grid-column: 2/3;
grid-row: 1/3;
}
.gcitem3{
  background-image: url(./multimedia/chipa3.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
}
.gcitem4{
  background-image: url(./multimedia/chipa8.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 4/5;
}
.gcitem5{
  background-image: url(./multimedia/chipa6.jpg);
  background-position: top;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 4/5;
}
.gcitem6{
  background-image: url(./multimedia/chipa7.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 2/4;
}
.gcitem7 {
background-image: url(./multimedia/chipa11.jpg);
background-position:top;
background-size: cover;
grid-row: 2/4;
grid-column: 1/2;
}
.gcitem8{
  background-image: url(./multimedia/chipa3.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2/3;
  grid-row: ;
}
.gcitem9{
  background-image: url(./multimedia/chipa9.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 4/5;
}
@media only screen and (max-width: 480px) {
  .ggcaleria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 200px);
  }
  .gcitem1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .gcitem2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .gcitem3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .gcitem4{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .gcitem5{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .gcitem6{
    grid-column: 1/2;
    grid-row: 6/7;
}
.gcitem7{
  grid-column: 1/2;
  grid-row: 7/8;
}
.gcitem8{
  grid-column: 1/2;
  grid-row: 8/9;
}
.gcitem9{
  grid-column: 1/2;
  grid-row: 9/10;
}
/*# sourceMappingURL=estilos.css.map */
